<%= simple_form_for(@shop, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :website %>
  <%= f.input :phone %>
  <%= f.input :wifi %>
  <%= f.input :groups %>
  <div class="offset2">
    <%= f.button :submit, class:"btn-large" %>
  </div>
<% end %>

  <div class="offset2">
    <%= link_to 'Back', shops_path, class: "btn" %>
  </div>
