<% @shops.each do |shop| %>
  <div class="media">
    <a class="pull-left" href="#">
      <%= review(shop) %>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to shop.name, shop %>
        <%= shop.website %>
      </h4>
      <%= shop.wifi %>
      <%= shop.groups %>
      <p class="span4">
        <i><%= shop.yelp.snippet_text %></i>
      </p>
      
    </div>
  </div>
<% end %>
