<div class="container">
  <div class="row">
    <div id="map" class="container"></div>
  </div>
  <div class="row">
    <table class="table">
      <tr class="container">
        <td class="span3">
          <p class="lead">
          <b>Flopper:</b>
          <%= @shop.name %><br/>
          <%= review(@shop) %><%= @shop.yelp.rating %>
          </p>
        </td>
        <td>
          <p class="lead">
            <%= link_to @shop.website, @shop.website %>
          </p>
        </td>
        <td>
          <p class="lead">
          <%= link_to number_to_phone(@shop.yelp.phone),
          "tel:+#{@shop.yelp.phone}" %>
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <table class="table">
      <tr class="container">
        <td class="span3">
          <p class="pull-left">
            <b>Review:</b>
            <%= @shop.yelp.snippet_text %>
          </p>
        </td>
        <td>
          <p class="lead">
            <% address = @shop.address %>
            <%= address.line1 %>
            <%= address.line2 %>
            <%= address.city %>
            <%= address.state %>
            <%= address.zip %>
            <p>
              <%= address.latitude %>
              <%= address.longitude %>
            </p>
          </p>
        </td>
        <td>
          <p class="lead">
            <%= "Groups: #{@shop.groups}" %>
            <%= "Wifi: #{@shop.wifi}" %>
          </p>
        </td>
      </tr>
    </table>
  </div>

  <%# UNCOMMENT TO SEE ALL THE ATTRIBUTES YELP OFFERS @shop.yelp.inspect %>
  
<table class="table table-hover table-bordered">
  <th class="span2"></th>
  <th>Name</th>
  <th>Review Count</th>
  <th>Rating</th>
  <th>Location</th>
  <th>Top Review</th>
  <% @shop.similar_yelp.each do |s| %>
    <tr>
      <td><%= image_tag s.image_url %></td>
      <td><%= s.name  %></td>
      <td><%= s.review_count  %></td>
      <td><%= s.rating  %></td>
      <td><%= s.location["display_address"].join(' ')  %></td>
      <td>
        <%= image_tag s.snippet_image_url, class: "pull-left" %>
        <p><%= s.snippet_text  %></p>
      </td>
    </tr>
  <% end %>
</table>



  <%= render "map", :object => @shop  %>
</div>
