<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Website:</b>
  <%= @shop.website %>
</p>

<p>
  <b>Phone:</b>
  <%= @shop.phone %>
</p>

<p>
  <b>Wifi:</b>
  <%= @shop.wifi %>
</p>

<p>
  <b>Groups:</b>
  <%= @shop.groups %>
</p>

<p>
  <b>Address:</b>
  <% address = @shop.address %>
  <%= address.line1 %>
  <%= address.line2 %>
  <%= address.city %>
  <%= address.state %>
  <%= address.zip %>
</p>

<div id="map"></div>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>

