<!DOCTYPE html>
<html>
<head>
  <title>CoffeeFlopper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />

  <%= javascript_include_tag "application", "http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/navigation" %>
<%= yield %>

</body>
</html>
